<div>
  <%= tweet.body %>
  <%= tweet.author.email %> <br>
  Likes: <%= tweet.likes.count %>
</div>
<%= link_to 'View Tweet', tweet_path(tweet.id) %> 
<%= button_to 'Like Tweet', tweet_likes_path(tweet, like: {user_id: current_user.id, tweet_id: tweet.id}) %>
<br>