<div>
  <div>
    <%= tweet.body %>
    <%= tweet.author.email %> <br>
  </div> <br>
  
  <%= turbo_frame_tag id="tweet_#{tweet.id}", loading: :lazy do %>
    <% like = tweet.find_like(current_user) %>
    <% if tweet.liked_by?(current_user)%>
      <%= button_to 'Delete Like',
                    tweet_like_path(tweet, like, like: {user_id: current_user.id, tweet_id: tweet.id}),
                    method: :delete
                    %>
    <% else %>
      <%= button_to 'like', tweet_likes_path(tweet, like: {user_id: current_user.id, tweet_id: tweet.id})%>
    <% end %>
  <% end %> <br>
  
  <%= turbo_frame_tag id="tweet_#{tweet.id}_like_count" do %>
    <%= pluralize(tweet.likes.count, 'Like')%>
  <% end %> <br>
  
  <%= turbo_frame_tag id="tweet_#{tweet.id}_new_comment" do %>
    <%= link_to 'New Comment', new_tweet_comment_path(tweet.id), tweet: tweet %> <br>
    <%= render tweet.comments %>
  <% end %>
</div>
