<div class="row m-2 justify-content-center">
  <div class="col-4 h-100 me-5 border rounded p-4 shadow-sm">
    <div class="d-flex flex-column">
      <%= image_tag @user.gravatar_url(default: :mm),
          class: "gravatar border w-50"
      %>
      <% if @user.profile %>
        <h3 class="text-primary mt-3 no-wrap"><%= @user.profile.name%></h3>
        <p class="">
          <%= turbo_frame_tag id="profile", src: profile_path  %>
        </p>
      <% end %>
    </div>
    <hr class="m-0 mb-2">
    <% unless current_user == @user %>
      <%= render 'follow_buttons', user: @user %>
    <% end %>
  </div>

</div>
<!-- Posts, will eventually move them into the correct place -->
<% if @user.profile %>
  <div>
    <div class="container pt-5 pt-2">
      <h5 class="text-start text-secondary justify-content-center" style="display: flex">Latest Posts</h5>
      <div class="row justify-content-center mt-2">
        <div class="col-8">
            <% if @user.tweets.count.zero? %>
              <div class="p-3 text-secondary">
                <%= "No Posts" %>
              </div>   
            <% else %>
              <%= render "tweets/user_tweets", user: @user %>   
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
